[submodule "source/styles/ekzo"]
  path = source/styles/ekzo
  url = https://github.com/ArmorDarks/ekzo.git
[submodule "source/assets"]
	path = source/assets
	url = git@github.com:FAS/assets.fasenergo.ru.git
[submodule "docker/php/craft/core"]
	path = docker/php/craft/core
	url = https://github.com/LotusTM/craft-core.git
