[submodule "source/styles/ekzo"]
  path = source/styles/ekzo
  url = https://github.com/ArmorDarks/ekzo.git
[submodule "craft/core"]
	path = craft/core
	url = https://github.com/LotusTM/craft-core.git
