// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$ekzo-colors: (
  primary:       #ef4324,
  secondary:     kotsu-theme-color(),
  tertiary:      #4e5b69,
  white:         #ffffff,
  cascade:       #8db0ab,
  warn:          #e44225,
);

@include ekzo-extend-themes(base, (

  // ---------------------------------------
  // Background
  // ---------------------------------------

  bg:                    ekzo-color(white),

  // ---------------------------------------
  // Text
  // ---------------------------------------

  text:                   ekzo-color(secondary),

  // ---------------------------------------
  // Links
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  links:                  ekzo-color(tertiary),
  links-border:           rgba(ekzo-color(tertiary), .25),
  links-hover:            null,
  links-hover-border:     null,
  links-active-border:    currentColor,

  // ---------------------------------------
  // Headings
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  headings:               false,
  extra-headings:         false,

  // ---------------------------------------
  // Selection
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  selection:              ekzo-color(white),
  selection-bg:           ekzo-color(primary),

  // ---------------------------------------
  // List
  // ---------------------------------------

  list-bullet:           ekzo-color(tertiary),

  // ---------------------------------------
  // Code
  // ---------------------------------------

  code:                  ekzo-shade(ekzo-color(white), 10),
  code-bg:               ekzo-color(secondary),

  // ---------------------------------------
  // Forms
  // ---------------------------------------

  forms:                  ekzo-color(secondary),
  forms-placeholder:      rgba(ekzo-color(secondary), .8),
  forms-border:           rgba(ekzo-color(secondary), .25),
  forms-bg:               ekzo-color(white),
  forms-focus-border:     rgba(ekzo-color(secondary), .55),

  forms-valid:            ekzo-color(secondary),
  forms-valid-border:     ekzo-color(tertiary),

  forms-invalid:          ekzo-color(warn),
  forms-invalid-border:   adjust-color(ekzo-color(warn), $lightness: 17),

  // ---------------------------------------
  // Table
  // ---------------------------------------

  table-border:           ekzo-tint(ekzo-color(secondary), 88),

  // ---------------------------------------
  // Horizontal line
  // ---------------------------------------

  hr:                     rgba(ekzo-color(secondary), .12),

  // ---------------------------------------
  // Buttons
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  btn:                    ekzo-color(tertiary),
  btn-bg:                 transparent,
  btn-border:             currentColor,
  btn-hover:              ekzo-color(white),
  btn-hover-bg:           adjust-color(ekzo-color(tertiary), $saturation: -5, $lightness: 9),
  btn-active-bg:          adjust-color(ekzo-color(tertiary), $saturation: -3, $lightness: -7),

  btn-solid:              ekzo-color(white),
  btn-solid-bg:           ekzo-color(tertiary),
  btn-solid-hover:        ekzo-color(white),
  btn-solid-hover-bg:     adjust-color(ekzo-color(tertiary), $saturation: -5, $lightness: 9),
  btn-solid-active-bg:    adjust-color(ekzo-color(tertiary), $saturation: -3, $lightness: -7),

  // ---------------------------------------
  // Breadcrumb
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  breadcrumb-links:      ekzo-color(tertiary),
  breadcrumb-delimiters: rgba(ekzo-color(secondary), .25),

))

@include ekzo-extend-themes(white, (
  headings-h1:    ekzo-color(secondary),
  headings:       ekzo-color(tertiary),

  btn:            ekzo-color(tertiary),
  btn-hover:      ekzo-color(white),

  btn-solid:      ekzo-color(white),
))

@include ekzo-extend-themes(secondary, (
  bg:                  ekzo-color(secondary),

  text:                ekzo-color(white),

  links:               ekzo-color(cascade),
  links-border:        transparent,
  links-hover-border:  rgba(ekzo-color(cascade), .4),
  links-active-border: currentColor,

  btn:                 ekzo-color(cascade),
  btn-border:          currentColor,
  btn-hover:           ekzo-color(secondary),
  btn-hover-bg:        ekzo-color(cascade),
  btn-active-bg:       adjust-color(ekzo-color(cascade), $saturation: -5, $lightness: -14),

  btn-solid:           ekzo-color(white),
  btn-solid-bg:        ekzo-color(tertiary),
  btn-solid-hover:     ekzo-color(white),
  btn-solid-hover-bg:  adjust-color(ekzo-color(tertiary), $saturation: -8, $lightness: 11),
  btn-solid-active-bg: adjust-color(ekzo-color(tertiary), $lightness: -2),
))

@include ekzo-extend-themes(tertiary, (
  bg:                 ekzo-color(tertiary),

  text:               ekzo-color(white),

  links:              ekzo-color(white),
  links-border:       rgba(ekzo-color(white), .25),

  forms:                  ekzo-color(white),
  forms-placeholder:      rgba(ekzo-color(white), .8),
  forms-border:           adjust-color(ekzo-color(tertiary), $saturation: -6, $lightness: 16),
  forms-bg:               adjust-color(ekzo-color(tertiary), $saturation: -2, $lightness: -3),
))