// =======================================
// ^SETTING.COLORS.DEFAULTS
// =======================================

$ekzo-colors: (
  primary:       #ef4324,
  secondary:     kotsu-theme-color(),
  tertiary:      #4e5b69,
  white:         #ffffff,
  cascade:       #8db0ab
);

@include ekzo-extend-themes(base, (

  // ---------------------------------------
  // Background
  // ---------------------------------------

  bg:                    ekzo-color(white),

  // ---------------------------------------
  // Text
  // ---------------------------------------

  text:                   ekzo-color(secondary),

  // ---------------------------------------
  // Links
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  links:                  ekzo-color(primary),
  links-hover:            ekzo-tint(ekzo-color(primary), 20),
  links-border-color:     rgba(ekzo-color(secondary), .2),

  // ---------------------------------------
  // Headings
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  headings:               false,
  extra-headings:         false,

  // ---------------------------------------
  // Selection
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  selection:              ekzo-color(white),
  selection-bg:           ekzo-color(primary),

  // ---------------------------------------
  // List
  // ---------------------------------------

  list-bullet:           ekzo-color(tertiary),

  // ---------------------------------------
  // Code
  // ---------------------------------------

  code:                  ekzo-shade(ekzo-color(white), 10),
  code-bg:               ekzo-color(secondary),

  // ---------------------------------------
  // Forms
  // ---------------------------------------

  forms:                  ekzo-color(secondary),
  forms-placeholder:      ekzo-tint(ekzo-color(secondary), 20),
  forms-border:           ekzo-color(tertiary),
  forms-bg:               ekzo-color(white),

  // ---------------------------------------
  // Table
  // ---------------------------------------

  table-border:           ekzo-tint(ekzo-color(secondary), 90),

  // ---------------------------------------
  // Horizontal line
  // ---------------------------------------

  hr:                     rgba(ekzo-color(secondary), .10),

  // ---------------------------------------
  // Buttons
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  btn:                    ekzo-color(tertiary),
  btn-bg:                 transparent,
  btn-border:             currentColor,
  btn-hover:              ekzo-color(white),
  btn-hover-bg:           adjust-color(ekzo-color(tertiary), $saturation: -5, $lightness: 9),
  btn-active-bg:          adjust-color(ekzo-color(tertiary), $saturation: -3, $lightness: -7),

  btn-solid:              ekzo-color(white),
  btn-solid-bg:           ekzo-color(tertiary),
  btn-solid-hover:        ekzo-color(white),
  btn-solid-hover-bg:     adjust-color(ekzo-color(tertiary), $saturation: -5, $lightness: 9),
  btn-solid-active-bg:    adjust-color(ekzo-color(tertiary), $saturation: -3, $lightness: -7),

  // ---------------------------------------
  // Breadcrumb
  // ---------------------------------------
  // @param {string|false} False to disable, color value to enable

  breadcrumb-links:      ekzo-color(tertiary),
  breadcrumb-delimiters: rgba(ekzo-color(secondary), .2),

))

@include ekzo-extend-themes(white, (
  links:          ekzo-color(tertiary),
  links-hover:    ekzo-color(primary),

  headings-h1:    ekzo-color(secondary),
  headings:       ekzo-color(tertiary),

  btn:            ekzo-color(tertiary),
  btn-hover:      ekzo-color(white),

  btn-solid:      ekzo-color(white),
))

@include ekzo-extend-themes(secondary, (
  bg:                  ekzo-color(secondary),

  text:                ekzo-color(white),

  links:               ekzo-color(cascade),
  links-hover:         ekzo-color(primary),

  btn:                 ekzo-color(cascade),
  btn-hover:           ekzo-color(secondary),
  btn-hover-bg:        ekzo-color(cascade),
  btn-active-bg:       adjust-color(ekzo-color(cascade), $saturation: -5, $lightness: -14),

  btn-solid:           ekzo-color(white),
  btn-solid-bg:        ekzo-color(tertiary),
  btn-solid-hover:     ekzo-color(white),
  btn-solid-hover-bg:  adjust-color(ekzo-color(tertiary), $saturation: -8, $lightness: 11),
  btn-solid-active-bg: adjust-color(ekzo-color(tertiary), $lightness: -2),
))

@include ekzo-extend-themes(tertiary, (
  bg:                 ekzo-color(tertiary),

  text:               ekzo-color(white),

  links:              ekzo-color(white),
  links-hover:        ekzo-color(primary),
  links-border-color: rgba(ekzo-color(white), .4),
))