// =======================================
// ^BUTTON
// =======================================

.Btn {
  @extend .#{$ekzo-o-ns}btn;

  border-width: 1px;
  @include ekzo-theme() { border-color: ekzo-theme(btn-border); }
  border-radius: ekzo-border-radius('');

  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    @include ekzo-theme() {
      color: ekzo-theme(btn-hover);

      $bg: ekzo-theme(btn-hover-bg);
      background-color: $bg;
      border-color:     $bg;
    }
  }

  &:active {
    @include ekzo-theme() {
      color: ekzo-theme(btn-hover);

      $bg: ekzo-theme(btn-active-bg);
      background-color: $bg;
      border-color:     $bg;
    }
  }

  &:disabled {
    opacity: .5;
    cursor: default;

    &:hover,
    &:focus,
    &:active {
      @include ekzo-theme() {
        color:            ekzo-theme(btn);
        background-color: ekzo-theme(btn-bg);
        border-color:     ekzo-theme(btn-border);
      }
    }

  }

}

.Btn--solid {
  @include ekzo-theme() {
    color: ekzo-theme(btn-solid);

    $bg: ekzo-theme(btn-solid-bg);
    background-color: $bg;
    border-color:     $bg;
  }

  &:hover,
  &:focus {
    @include ekzo-theme() {
      color: ekzo-theme(btn-solid-hover);

      $bg: ekzo-theme(btn-solid-hover-bg);
      background-color: $bg;
      border-color:     $bg;
    }
  }

  &:active {
    @include ekzo-theme() {
      color: ekzo-theme(btn-solid-hover);

      $bg: ekzo-theme(btn-solid-active-bg);
      background-color: $bg;
      border-color:     $bg;
    }
  }

  &:disabled {
    &:hover,
    &:focus,
    &:active {
      @include ekzo-theme() {
        color: ekzo-theme(btn-solid);

        $bg: ekzo-theme(btn-solid-bg);
        background-color: $bg;
        border-color:     $bg;
      }
    }
  }

}

.Btn--primary {
  border-width: 1px;
  @include ekzo-theme() {
    color: ekzo-theme(btn-primary);

    $bg: ekzo-theme(btn-primary-bg);
    background-color: $bg;
    border-color:     $bg;
  }

  &:hover,
  &:focus {
    @include ekzo-theme() {
      color: ekzo-theme(btn-primary-hover);

      $bg: ekzo-theme(btn-primary-hover-bg);
      background-color: $bg;
      border-color:     $bg;
    }
  }

  &:active {
    @include ekzo-theme() {
      color: ekzo-theme(btn-primary-hover);

      $bg: ekzo-theme(btn-primary-active-bg);
      background-color: $bg;
      border-color:     $bg;
    }
  }

  &:disabled {
    &:hover,
    &:focus,
    &:active {
      @include ekzo-theme() {
        color: ekzo-theme(btn-primary);

        $bg: ekzo-theme(btn-primary-bg);
        background-color: $bg;
        border-color:     $bg;
      }
    }
  }

}