// =======================================
// ^Cover
// =======================================

.Cover {
  // Prevent display of page cover images on smaller desktops
  @include ekzo-breakpoint(before-desk) { background-image: none !important; }
  background-position:   right top;
  background-size:       cover;
  background-attachment: fixed;
  background-repeat:     no-repeat;
}