// =======================================
// ^Expand-link
// =======================================

.Expand-link {
  @extend %#{$ekzo-g-ns}link;

  position: relative;

  border-style: dotted;
  @include ekzo-theme() { border-color: ekzo-theme(expand-link-border); }

  &.is-active {
    border-color: transparent;

    .Expand-link__icon {
      opacity: 1;
      transform: rotate(0);
    }

  }

}

  .Expand-link__icon {
    position: absolute;

    @extend %#{$ekzo-h-ns}trans--all;

    opacity: 0;
    transform: rotate(180deg);

    width: 1em;
    height: 1em;

    margin-left: -1.5em;
  }