// =============================================================================
// ^HEADER
// =============================================================================

.Header {}

.Mobile-header {
    background: ekzo-color(quaternary);
    display: flex;
    padding: 20px $wrapper-padding-left / 3;
    align-items: center;
    justify-content: space-between;

    @include ekzo-breakpoint(tablet-ls) {
        display: none;
    }

    &__logo {
        text-decoration: none;
        border: none;

        &-img {
            width: auto;
            height: 48px;
        }
    }

    &__menu-btn {
        text-decoration: none;
        border: none;
        padding: 12px;
    }
}