// stylelint-disable selector-max-specificity, declaration-no-important, no-descending-specificity

// =======================================
// ^NAV
// =======================================

.Nav {}

  .Nav__list {}

    .Nav__item {
      display: block;

      &.is-active {

        > a {
          @include ekzo-theme() {

            color: ekzo-theme(nav-item-active);
            border-bottom-color: transparent;

            &:hover,
            &:focus { border-color: ekzo-theme(nav-item-hover-border); }

            &:active { border-color: currentColor; }

          }
        }

      }

      + .Nav__item { margin-top: ekzo-space(.25); }

      + .Nav__item--h1,
      + .Nav__item--h2,
      + .Nav__item--h3 { margin-top: ekzo-space(); }

    }

    .Nav__item--h1,
    .Nav__item--h2,
    .Nav__item--h3 {
      margin-bottom: ekzo-space(.5);

      &,
      > a {
        @include ekzo-theme() {
          color: ekzo-theme(nav-item-h);

          &:hover,
          &:focus { border-color: ekzo-theme(nav-item-h-hover-border); }

        }
      }

    }

    .Nav__item--h1 { @include ekzo-font-size(h6, headings); }
    .Nav__item--h2 { @include ekzo-font-size('-'); }
    .Nav__item--h3 { @include ekzo-font-size('--'); }

      .Nav__link {

        &.has-subnav {

          border-color: transparent !important;

          &:hover {

            > .Nav__subnav-icon { opacity: .5; }

          }

          &.drawer-is-active,
          &:active {

            > .Nav__subnav-icon { opacity: 1; }

          }

          &.drawer-is-active { opacity: .5; }

        }

      }

        .Nav__subnav-icon { opacity: 0; }