// =======================================
// ^NAV
// =======================================

.Nav {}

  .Nav__list {}

    .Nav__item {

      &.is-active {

        > a {
          color: ekzo-color(primary);

          &:hover,
          &:focus { border-color: rgba(ekzo-color(primary), .4); }

          &:active { border-color: currentColor; }

        }

      }

    }

      .Nav__link {}