// =======================================
// ^Shade
// =======================================

.Shade {
  position: relative;
  z-index: ekzo-z-index(shade);

  &:after {
    content: '';

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0) 53%);
  }

}

  .Shade__title { text-shadow: 0 0 15px rgba(0, 0, 0, .56); }
  .Shade__text { text-shadow: 0 0 6px rgba(0, 0, 0, .8); }

  .Shade__block {
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    border: solid 1px rgba(255, 255, 255, .18);
  }