// =============================================================================
// ^Table
// =============================================================================

.Table {
  margin-bottom: ekzo-space(2);

  border-radius: ekzo-border-radius('');

  // @note This is easiest way to set radius on border of table without
  //       additional wrappers and collapsable cells, but it won't work
  //       with background on cells without `overflow: hidden`
  @include ekzo-theme() {
    $color: ekzo-theme(table-border);

    @if $color { box-shadow: 0 0 0 1px $color; }
  }

  border-style: hidden;

  &-responsive {
    width: auto;
    overflow-x: auto;
    margin-bottom: ekzo-space(2);

    @include ekzo-theme() {
      $color: ekzo-theme(table-border);

      @if $color { box-shadow: 0 0 0 1px $color; }
    }

    @include ekzo-breakpoint(lap) {
      width: 100%;
      overflow-x: unset;
      margin-bottom: 0;
    }

    .Table {
      margin-bottom: 0;
    }

  }

  tr,
  th,
  td {
    border-width: 1px;

    @include ekzo-theme() { border-color: ekzo-theme(table-border); }

    padding: ekzo-space(.75);
  }

  th {
    font-weight: inherit;
    text-align: inherit;
  }

  td { @include ekzo-font-size('-'); }

}