// =======================================
// ^WRAPPER
// =======================================

.Wrapper {
  padding-left:  ekzo-space(2);
  padding-right: ekzo-space(2);
}

// ----
// Base width of website

.Wrapper--main    { max-width: ekzo-em(1117px); }
.Wrapper--sidebar { width: ekzo-em(249px); }
.Wrapper--contain { max-width: ekzo-em(800px); }

// ----
// Limit to ~80 characters per line

.Wrapper--readable {
  max-width: 34em;

  margin-left:  auto;
  margin-right: auto;
}