// =======================================
// ^WRAPPER
// =======================================

$wrapper-padding: ekzo-space(2);

$site-width: 1366px;
$sidebar-width: 249px;
$main-width: $site-width - $sidebar-width;

.Wrapper {
  padding-left:  $wrapper-padding;
  padding-right: $wrapper-padding;
}

.Wrapper--bleed {
  margin-left:  - $wrapper-padding;
  margin-right: - $wrapper-padding;
}

.Wrapper-v    {
  padding-top:    $wrapper-padding * .75;
  padding-bottom: $wrapper-padding * 2.5;
}

// ----
// Width of website

.Wrapper--sidebar       { width: $sidebar-width; }
.Wrapper--sidebar-shift { padding-left: $sidebar-width; }
.Wrapper--main          { @include ekzo-breakpoint(desk) { max-width: $main-width; } }
.Wrapper--container     { max-width: $main-width; }
.Wrapper--content       { max-width: 900px; }

// ----
// Limit to ~80 characters per line

.Wrapper--readable {
  max-width: 34em;

  margin-left:  auto;
  margin-right: auto;
}