// =============================================================================
// ^WRAPPER
// =============================================================================

.Wrapper {
  padding-left: $wrapper-padding-left / 3;
  padding-right: $wrapper-padding-left / 3;

  @include ekzo-breakpoint(phone) {
    padding-left:  $wrapper-padding-left;
    padding-right: $wrapper-padding-right;
  }

  @include ekzo-breakpoint(lap) { padding-left: $wrapper-padding-left-lap; }
}

.Wrapper--bleed {
  margin-left:  -$wrapper-padding-left;
  margin-right: -$wrapper-padding-right;

  @include ekzo-breakpoint(lap) { margin-left: -$wrapper-padding-left-lap; }
}

.Wrapper-v {
  padding-top:    $wrapper-padding-top;
  padding-bottom: $wrapper-padding-bottom;
}

// ----
// Width of website

.Wrapper--site {
  min-width: 0;

  @include ekzo-breakpoint(lap) {
    min-width: $site-min-width;
  }
}

.Wrapper--sidebar {
  width: 76%;
  display: none;

  &-shift {
    padding-left: 0;

    @include ekzo-breakpoint(lap) {
      padding-left: $sidebar-width;
    }
  }

  @include ekzo-breakpoint(lap) {
    display: block;
    width: $sidebar-width;
  }
}

.Wrapper--main          { @include ekzo-breakpoint(desk) { max-width: $main-width; } }
.Wrapper--container     { max-width: $main-width; }
.Wrapper--content       { max-width: 900px; }
.Wrapper--content-text  { max-width: 816px; }

// ----
// Limit to ~80 characters per line

.Wrapper--readable {
  max-width: 34em;

  margin-left:  auto;
  margin-right: auto;
}