
// =============================================================================
// ^FONTS
// =============================================================================

@include ekzo-font-face(
  $font:      'WeblySleek UI',
  $version:   false,
  $file-name: WeblySleekUILight/WeblySleekUILight,
  $weight:    200,
  $style:     normal
)

@include ekzo-font-face(
  $font:      'WeblySleek UI',
  $version:   false,
  $file-name: WeblySleekUILightItalic/WeblySleekUILightItalic,
  $weight:    200,
  $style:     italic
)

@include ekzo-font-face(
  $font:      'WeblySleek UI',
  $version:   false,
  $file-name: WeblySleekUISemiLight/WeblySleekUISemiLight,
  $weight:    300,
  $style:     normal
)

@include ekzo-font-face(
  $font:      'WeblySleek UI',
  $version:   false,
  $file-name: WeblySleekUISemiLightItalic/WeblySleekUISemiLightItalic,
  $weight:    300,
  $style:     italic
)

@include ekzo-font-face(
  $font:      'WeblySleek UI',
  $version:   false,
  $file-name: WeblySleekUISemiBold/WeblySleekUISemiBold,
  $weight:    600,
  $style:     normal
)

@include ekzo-font-face(
  $font:      'WeblySleek UI',
  $version:   false,
  $file-name: WeblySleekUISemiBoldItalic/WeblySleekUISemiBoldItalic,
  $weight:    600,
  $style:     italic
)