
// =======================================
// ^FORMS
// =======================================

#{$ekzo-g-ns}input,
input,
textarea,
select {
  @include ekzo-theme() { border-color: ekzo-theme(forms-border); }
  border-width: 1px;
  border-radius: $primary-border-radius;

  padding: ekzo-space(.5);
}