
// =======================================
// ^LINKS
// =======================================

a,
.#{$ekzo-g-ns}link,
%#{$ekzo-g-ns}link {
  cursor: pointer;

  border-bottom-width: 1px;
  @include ekzo-theme() { border-color: ekzo-theme(links-border); }

  // For cases when we need to make `<button>` appear like a link
  background-color: transparent;
  padding: 0;

  &:hover,
  &:focus { @include ekzo-theme() { border-color: ekzo-theme(links-hover-border); } }

  &:active {
    @include ekzo-theme() { border-color: ekzo-theme(links-active-border); }
  }

}