// stylelint-disable

/*------------------------------------*\
		$PAGE-PRODUCT
\*------------------------------------*/

.page-product-menu {

  li + li:before {
    display: inline-block;
    content: '/';

    opacity: .5;

    @extend .h-text-;

    padding: 0 ekzo-space(.5);
  }

  a {
    border-bottom-color: transparent;

    &:hover,
    &:focus { border-bottom-color: inherit; }

  }

}

.photo-slider__thumbs__link {
	display: inline-block;

	opacity: .5;
	@extend .h-trans--all\+;

  border-width: 3px;
  border-color: transparent;
  border-radius: ekzo-border-radius('');

	margin: ekzo-space(2) ekzo-space(.5) 0;

  &.is-active,
  &:hover,
  &:focus { opacity: 1; }

  &.is-active { border-color: #58a4d8; }

}