// stylelint-disable declaration-no-important, selector-max-compound-selectors, selector-no-type
// @note We need `!important` here to properly redefine helpers in this layer

// =======================================
// ^Tertiary
// =======================================

.#{$ekzo-s-ns}tertiary {
  @include ekzo-theme() {
    color: ekzo-theme(s-tertiary-text);
    background-color: ekzo-theme(s-tertiary-bg);
  }

  a {
    @include ekzo-theme() {
      color: ekzo-theme(s-tertiary-links);
      border-color: ekzo-theme(s-tertiary-links-border-color);
    }

    &:hover,
    &:focus { @include ekzo-theme() { color: ekzo-theme(s-tertiary-links-hover) }; }
  }

}