// stylelint-disable declaration-no-important, selector-max-compound-selectors, selector-no-type
// @note We need `!important` here to properly redefine helpers in this layer

// =======================================
// ^User content
// =======================================

.#{$ekzo-s-ns}user-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: ekzo-space(3);
    margin-bottom: ekzo-space(2);
  }

  ul,
  ol {

    > li + li { margin-top: ekzo-space(.5); }

  }

  hr {
    margin-top:    ekzo-space(4);
    margin-bottom: ekzo-space(4) - ekzo-units($ekzo-hr-height, unit(ekzo-space()));
  }

  img { border-radius: $primary-border-radius; }

}